<a href="https://colab.research.google.com/github/qudtl/python/blob/main/ch_1%EB%B3%80%EC%88%98%EC%99%80%EC%9E%90%EB%A3%8C%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**변수 이름 규칙**
- 시작을 영문 대소ㅓ문자._ 구성 가능
- BUT 숫자는 불가능
- 일반적으로 변수를 표현할 떄 정확하고 간결한 이름을
사용하는 것이 원칙

In [1]:
abcABC = 1000
____abc = 100
ACBV = 100

###4ever = 10

## **예악어**
- rython에서 미리 선점해서 사용중인 키워드
- impprt, por, while, if,elif 등

In [2]:
_for = 100
###tor= 120

##**기본 데이터 타입**
- 징수(int)
- 실수(fioat)
- 문자열(str)
- 불리연(boolean

- type() 함수
 - 해당 변수, 값의 타입(type) 알고자 할 떄 사용

In [13]:
a = 100
b = 11.4
c = "오늘은 비가 와요"
d = a>b
print(type(a), a, type(b), b, type(c), c, type(d), d)

<class 'int'> 100 <class 'float'> 11.4 <class 'str'> 오늘은 비가 와요 <class 'bool'> True

### **none**
- 아무런 값은 갖지 않을 떄 사용
- 일반적으로 변수가 초기값을 갖지 않게 하기 위해 사용
- NULL과 같은 의미

In [14]:
c = None
print(c)

None

##**비교연산자**
-  프로그래밍에서 비교를 할경우 사용한다
- >.< (작다, 크다)
- <=.>= (작거나 같다. 크거나 같다)
- == (같다)
- != (같지 않다)
= 비교 연산자 결과는 bool(참과 거짓)

In [10]:
a =5
b =4

print(a>b) #True
print(a<b) #Fa;se 
print(a>=b) #True
print(a<=b) #Fa;se
print(a==b) #False
print(a!=b) #True

True
False
True
False
False
True

## **기본연산자**

In [11]:
print(a+b) # a=5, b=4
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**b) # 5의 4제곱

9
1
20
1.25
1
625

##**연산자 우선순위**
- 기본적으로 수학의 연산자와 동일
- 강제로 연산을 먼저하기 위해서는 ()를 사용

In [ ]:
print(a+b+2) #a=5, b=4
print((a+b)*2)
print(2* a**3)